* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #34495e;
    color: white;
}

h1{
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
}

.accordion{
    width: 90%;
    margin: 2rem auto;
}

.accordion-item{
    background-color: red;
    margin: 1rem 0;
    border-radius: 0.3rem;
}

.accordion-item .header{
    padding: 1.5rem 3rem 0 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}


.accordion-item .header::after{
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.accordion-item .header.active::after{
    transform: rotate(45deg);
}

.hide{
    height: 0;
    overflow: hidden;
    max-height: 0px;
    transition: 0.3s;
    padding: 0;
}

.show{
    height: auto;
    padding: 15px 15px;
    transition: 0.3s;

}