body{
    margin: 0;
    padding: 0;
}

/* #Header Navbar Style CSS file - START  */


#header-navbar{
    /* height: 75px; */
    padding: 20px 0px;
    background-color: white;
    /* border: 1px solid red; */
}

.navbar{
    display: flex;
    /* border: 1px solid blue; */
    width: 1140px;
    justify-content: space-between;
    margin: 0px auto;
}

.navbar-links{
    padding: 10px 0px;
}

.navbar-links ul{
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar-links ul li{
    list-style: none;
    /* border-bottom: 1px solid red; */
    margin-left: 20px;
}


.navbar-links ul li a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: black;
    border-bottom: 0px solid red;
}

.navbar-links ul li a:hover{
    color: red;
    transition: all 0.5s ease;
    border-bottom: 1px solid red;
}

.navbar-links ul li a:visited:hover{
    color: red
}

.navbar-links ul li i{
    margin-top: 4px;
}

.font-great-vibes{
    color: #ff6d6d !important;
    font-size: 32px;
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
}

/* #Header Style CSS file - END  */

/* .Slider Style CSS file - START  */

#slider{
    /* display: flex; */
    position: relative;
}

.slide-action{
    width: 100%;
    height: 774px;
    /* border: 1px solid blue; */
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.slider-black-bg{
    width: 100%;
    height: 774px;
    /* border: 1px solid green; */
    position: absolute;
    background-color: black;
    opacity: 0.3;
}

.slide-action img{
    width: 100%;
}

.slide-content{
    /* border: 1px solid red; */
    width: 500px;
    margin: 0px auto;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    /* align-items: center; */
    /* margin: 0px auto; */
    transform: translate(-50%, -50%);
    color: white;
}

.bey-gelin-ismi{
    font-size: 97px;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.biz-evlenirik{
    font-family: 'Great Vibes', cursive;
    font-size: 57px;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 10px;
}

.setinterval-circles{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.circle{
    display: flex;
    width: 150px;
    height: 150px;
    /* border: 1px solid red; */
    margin: 0px -21px;
}

.circle img{
    position: relative;
    transform: rotate(295deg);
}

.circle p{
    font-size: 49px;
    position: absolute;
    /* align-items: center; */
    margin-top: 47px;
    margin-left: 48px;
}

/* .Slider Style CSS file - END  */

/* the-couple Style CSS file - START  */

.the-couple{
    width: 516px;
    /* border: 1px solid red; */
    margin: 0px auto;
    text-align: center;
}

.the-couple h3{
    font-size: 41px;
    font-family: "Great Vibes", cursive;
    margin-top: 50px;
    margin-bottom: 30px;
}

.the-couple img{
    width: 267px;
}

.the-couple p{
    font-style: italic;
    font-size: 25px;
}

/* the-couple Style CSS file - END  */

/* ----------------------------------- */

/* Bey ve Gelin Style CSS file - START  */

.xett{
    background-color: tomato;
    width: 100%;
    height: 10px;
    margin: 150px 0px;
}

.beyvegelin-container{
    width: 100%;
    height: 720px;
    /* border: 1px solid red; */
    margin-top: 79px;
}

.beyvegelin{
    width: 946px;
    height: 717px;
    /* border: 1px solid red; */
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
}

.beyvegelin span{
    width: 10px;
    height: 10px;
    margin: 183px 0px;
    font-size: 72px;
    color: pink;
    margin-right: 40px;
}

.bey{
    display: grid;
    width: 361px;
    height: 717px;
    /* border: 1px solid green; */
}

.bey h4{
    text-align: center;
    font-size: 37px;
    font-family: "Great Vibes", cursive;
    margin: 30px 0px;
}

.bey p:last-of-type{
    color: #ff6d6d !important;
    font-family: 'Great Vibes', cursive;
    font-size: 27px;
}

.bey p{
    text-align: center;

}

.bey .social-media{
    margin: 0px auto;
}

.bey .social-media i{
    font-size: 30px;
    color: #ff6d6d !important;
}

/* -------------------- */

.gelin{
    width: 361px;
    height: 717px;
    /* border: 1px solid green; */
}

.gelin{
    display: grid;
}

.the-couple-gelin{
    width: 361px;
    /* border: 2px solid blue; */
}

.gelin h4{
    text-align: center;
    font-size: 37px;
    font-family: "Great Vibes", cursive;
    margin: 30px 0px;
}

.gelin img{
    margin: 0px auto;
}

.the-couple-logo{
    width: 273px;
    margin: 0px auto;
    /* justify-content: center; */
}

.gelin p:last-of-type{
    color: #ff6d6d !important;
    font-family: 'Great Vibes', cursive;
    font-size: 27px;
}

.gelin p{
    text-align: center;
}

.gelin .social-media{
    margin: 0px auto;
}

.gelin .social-media i{
    font-size: 30px;
    color: #ff6d6d !important;
}

/* Bey ve Gelin Style CSS file - END  */

/* middle-content Style CSS file - START  */

#middle-content{
    margin-top: 190px;
    margin-bottom: 100px;
}

.middle-image{
    width: 100%;
    height: 691px;
    /* border: 1px solid red; */
    overflow: hidden;

}

.middle-image img{
    width: 100%;
    height: auto;
}

.middle-content-container{
    width: 500px;
    height: 200px;
    border: 1px solid green;
    margin: 0px auto;
}