.slider {
    width: auto;
    height: 1000px;
    overflow: hidden;
    border: 5px solid red;
    margin: 0;
}

.slide {
    width: auto;
    height: 1000px;
    object-fit: cover;
}

.slide img {
    width: auto;
    height: 1000px;
    object-fit: cover;
    overflow: hidden;
}

.slide-text p{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 61px;
    color: red;
    /* background-color: teal; */
}

#demo{
    text-align: center;
  font-size: 60px;
  margin-top: 50%;
  margin-left: 33%;
  position: absolute;
}

.couple-head{
    text-align: center;
    margin-top: 80px;
    font-size: 45px;
}

.couple-logo{
    margin-left: 44%;
    margin-top: 33px
    /* height: 1000px */
}

.couple-logo img{
    height: 50px;
    width: auto;
    /* margin-left: 45%; */
}

.couple-man-altlogo img{
    position: fixed;
}


.couple-about{
    margin-top: 30px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.couple-images{
    margin-top: 80px;
}

.couple-woman{
    text-align: center;
}

.couple-woman img{
    height: 200px;
    width: 200px;
}


.couple-man{
    text-align: center;
}

.couple-man img{
    height: 200px;
    width: 200px;
}

.heart-logo img{
    height: 30px;
    width: auto;
}

.middle-photo{
    position: relative;
    
}

.middle-photo img{
    width: 100%;
  height: auto;
}

.middle-logo{
    position: absolute;
    top: 30%;
    width: 100%;
    align-items: center;
    font-size: 18px;
}

.middle-logo img{
    width: 150px;
    color: white;
    margin-left: 45%;
    margin-top: -15%;
}

.middle-text{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 41px;
    color: white;
    background-color: teal;
}

.middle-butons{
    position: absolute;
    top: 50%;
    margin-left: 45%;
    align-items: center;
}
